@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* fonts */
  --font-playfair-display: var(--font-playfair-display);
  --font-openSans: var(--font-openSans);

  /* colors */
  --color-sea-green: #1F686A;
  --color-soft-beige: #F5F3EC;
  --color-athens-gray: #F7F8FA;
  --color-light-cyan: #F1F9F9;
  --color-light-gray: #f8f8f8;
  --color-shadow-wash: #0C0F26;

  /* breakpoints */
  --breakpoint-tablet: 56rem;
}

.slick-dots {
  bottom: 10px !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
  /* default is 6px, try 12–20px */
}

.slick-dots li button:focus {
  outline: none !important;
}

.services-bg {
  background-image: url("../../public/images/hero/services-hero.webp");
  background-repeat: no-repeat;
  background-position: center;
}

/* Make dots visible & stylish */
.slick-dots li button:before {
  font-size: 12px !important;
  color: #bbb !important;
  opacity: 0.6 !important;
}

/* Highlight only the real active dot controlled by Slick */
.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1 !important;
}