@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* fonts */
  --font-sans: var(--font-dm-sans);
  --font-work-sans: var(--font-work-sans);

  /* colors */
  --color-sea-green: #1F686A;
}

.slick-dots {
  bottom: 10px !important;
}

.slick-dots li button:before {
  font-size: 10px !important; /* default is 6px, try 12–20px */
}

.slick-dots li button:focus {
  outline: none !important;
}